<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
    <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <h2>Register Company Page</h2>
      <%= form_for(@company) do |f| %>
        <div>
          <%= f.text_field :name, :placeholder => "name" %>
        </div>
        <%= f.submit "Register", class: "btn-submit" %>
      <% end %>
    </div>
